* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	margin-top: 0;
	margin-bottom: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 32px;
}

.header-logo {
	width: 32px;
	height: 32px;
}

.navigation-anchor {
	margin: 0 5px;
}

.full-height-block {
	height: 100vh;
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	margin-left: 300px;
	margin-right: 300px;
}

.grid-content-left {
	max-width: 600px;
	justify-self: start;
	align-self: center;
}

.grid-content-right {
	justify-self: end;
}


