---
layout: default
title: Editors-Auswahl
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/editors.css">

<div class="spacing-block section-block">
	<div>
		<h1>Editors zur Auswahl.</h1>
	</div>
</div>
<div class="spacing-block">
	<form id="filter-form" class="filter">
		<input class="filter-search-input" type="text" 
						   placeholder="Suche...">
		<div class="filter-type">
			<span>
				<input onclick="filterByType(&quot;&quot;);" 
				       class="filter-type-radio" type="radio" 
								 name="type-filter" 
								 id="all" 
								 value=""
							     checked>
				<label for="all">Alle</label>
			</span>
			<span>
				<input 
				       onclick="filterByType(&quot;terminal&quot;);" 
				       class="filter-type-radio" type="radio" 
								 name="type-filter" 
								 id="terminal" 
								 value="terminal">
				<label for="terminal">Terminal</label>
			</span>
			<span>
				<input onclick="filterByType(&quot;gui&quot;);" 
				       class="filter-type-radio" type="radio" 
								 name="type-filter" 
								 id="gui" 
								 value="gui">
				<label for="gui">Grafisch</label>
			</span>
		</div>
	</form>
</div>
<div class="spacing-block">
	<div class="limit-width">
		<div class="editor-selection">
			{% for editor in site.data.editors %}
			<div id="editor_{{ editor[0] }}" 
			     class="editor-selection-card">
				<img class="editor-selection-card-img" src="{{ 
					    site.baseurl 
					    }}/assets/images/editors/logos/{{ 
					    editor[0] }}.png">
				<div>
				<a href="{{ site.baseurl }}/editors/{{ editor[0] 
					 }}.html">
					<h3>{{ editor[1].name }}</h3>
				</a>					<p>{{ 
				editor[1].description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% include editors-js.html %}

