footer {
	height: var(--footer-height);
	background-color: var(--palette-light-grey);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer div {
	margin: 0 20px;
}

@media (max-width: 1000px) {
	footer {
		align-items: start;
		justify-content: center;
		flex-direction: column;
	}
}

