.full-height {
	height: 100vh;
}

.spacing-block {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-layout {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;

}

@media (max-width: 1000px) {
	.row-layout {
		flex-direction: column; 
		align-items: unset;
	}
}

.grid-content-left {
	max-width: 600px;
}

.section-block {
	min-height: 400px;
	padding: 20px 20px;
}


