.spacing-block {
	height: 100vh;
	padding: 0 20px;
	display: flex;
	align-items: center;
}

.row-layout {
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 1000px;

}

@media (max-width: 1000px) {
	.row-layout {
		flex-direction: column; 
		justify-content: center;
		align-items: unset;
	}
}

.grid-content-left {
	max-width: 600px;
}

