* {
	font-family: 'Noto Sans', sans-serif;
	/* Color palette */
	--palette-white: rgb(255, 255, 255);
	--palette-light-grey: rgb(244, 244, 244);
	--palette-black: rgb(20, 20, 20);
	--palette-grey: rgb(200, 200, 200);
	--padding-standard: 20px;
	--footer-height: 60px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans Mono', monospace;
}

a {
	color: inherit;
}

q {
	font-style: italic;	
}

body {
	margin: 0 0;
}

.content {
	min-height: calc(100vh - var(--footer-height));
}

.light-grey {
	background-color: var(--palette-light-grey);
}

.row-layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: min(100%, 1000px);
}

@media (max-width: 700px) {
	.row-layout {
		flex-direction: column; 
		align-items: unset;
		width: 100%;
	}
}

.grid-content-left {
	flex-grow: 2;
	margin: var(--padding-standard) 0;
}

.grid-content-left * {
	margin: 10px 0;
}

.grid-content-right {
	max-width: 400px;
}

@media (max-width: 700px) {
	.grid-content-right {
		align-self: center;
		max-width: 100%;
	}
}

.grid-content-right-image {
	max-width: inherit;
	height: auto;
}

.spacing-block {
	padding: var(--padding-standard);
	display: flex;
	align-items: center;
	justify-content: center;
}


.section-block {
	min-height: 400px;
}

.limit-width {
	width: min(100%, 1000px);
}

.anchor-button {
	font-family: 'Noto Sans Mono', monospace;
	font-size: small;
	text-decoration: unset;
	display: inline-block;
	outline: var(--palette-black) solid 3px;
	padding: 10px;
	transition: color 250ms, background-color 150ms;
}

.anchor-button:hover {
	transition: color 250ms, background-color 150ms;
	color: var(--palette-white);
	background-color: var(--palette-black);
}

