* {
	font-family: 'Noto Sans', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
}

.navigation-logo {
	line-height: 30px;
}

.navigation-anchor {
	margin: 0 10px;
	line-height: 30px;
}

