<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css">
	<title>Editor Wars -
		{% if page.layout == "editor-page" %}
			{{ site.data.editors[page.id].name }}
		{% else %}
			{{ page.title }}
		{% endif %}
	</title>
</head>
<body>
	{% include header.html %}
	<div class="content">
		{{ content }}
	</div>
	{% include footer.html %}
</body>
</html>
