---
layout: default
---
<div class="section-block spacing-block">
	<div class="row-layout">
		<div class="grid-content-left">
			<h1>{{ site.data.editors[page.id].name }}</h1>
			<div><q>{{ site.data.editors[page.id].description 
					}}</q></div>
			<div><a href="{{ 
				      site.data.editors[page.id].official-webpage 
				      }}">{{ site.data.editors[page.id].name }} 
				      holen</a></div>
		</div>
		<div class="grid-content-right">
			<img class="grid-content-right-image" src="{{ 
				    "/assets/images/editors/screenshots/" | 
									 relative_url 
									 }}{{ 
									 page.id 
									 }}.png" 
							      alt="Screenshot 
								   für {{ 
								   site.data.editors[page.id].name 
								   }}">
		</div>
	</div>
</div>
<div class="spacing-block">
	<div class="limit-width">
		{{ content }}
	</div>
</div>

